@import '@GlobalScss';

.hoverable {
    position: relative;
    display: inline-flex;

    margin: 0 1rem;

    span {
        border: 2px solid $color-gray-light-1;
        border-radius: $border-radius-circle;
    }
    
    dialog {
        position: absolute;
        top: 0.5rem;

        width: 50rem;
        z-index: 10;

        @include respond(tab-port) {
            width: 30rem;
        }

        padding: 0.5rem;
        border: 3px solid $color-brown;
        background-color: $color-gray;
        color: $color-brown;
        
        article {
            text-align: left;
            font-size: $font-size-small;
        }
    }
}