@import '@GlobalScss';

.background {
    position: relative;
    z-index: 1;
    
    width: 100%;
    height: 100%;

    @include respond(tab-port) {
        height: 35rem;
    }
    
    overflow: hidden;

    .loading {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: scale(3) translate(-50%, -50%);
    }

    .noClick {
        position: absolute;
        top: 45%;
        left: 40%;
        animation: scale-up-down 2s infinite linear;
    }
}

@keyframes scale-up-down {
    0% {
        transform: scale(1);
    }
    75% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}