@import '@GlobalScss';

.loading {
    position: relative;

    height: 2rem;
    width: 2rem;

    border-radius: 0;

    animation: loading 1s infinite linear;
    border: 1px solid #000;

    .horizontal {
        position: absolute;
        top: 45%;
        left: 0;
        width: 1.8rem;
        height: 1px;
        border: 1px solid #000;
    }

    .vertical {
        position: absolute;
        top: 0;
        left: 45%;
        width: 1px;
        height: 1.8rem;
        border: 1px solid #000;
    }
}

.dark {
    border: 1px solid $color-white;
}

.light {
    border: 1px solid $color-black; 
}

@keyframes loading {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}