@import "@GlobalScss";

.controlGroup {
    position: relative;

    display: flex;
    align-items: center;
    margin: 1rem;

    input:checked + label::after {
        transform: scale(1);
        opacity: 1;
    }

    label {
        position: relative;
        width: 3.8rem;
        height: 2rem;
        top: 2px;

        background-color: $color-white;
        outline: 3px solid $color-other-dark;
        cursor: pointer;

        box-shadow: $shadow-normal;

        transition: transform 0.4s;

        &:hover {
            transform: scale(1.05);
        }

        &:active {
            transform: scale(1.02);
        }

        &::after {
            content: "\261E";

            position: absolute;

            top: -2.8rem;
            @include respond(tab-port) {
                left: -2px;
            }

            // A cheap, hacky solution to the fact that
            // webkit browsers display this image differently
            // And therefore need different offsets
            @supports (-webkit-box-reflect: above) {
                top: -2.2rem;

                @include respond(tab-port) {
                    top: -1.9rem;
                }
            }
            left: 1px;

            color: $color-forest;
            font-size: $font-size-xl;
            font-weight: bold;

            transition: all 0.4s;
            transform: scale(0.2);
            opacity: 0;
        }
    }
    input {
        display: none;
        position: relative;
    }
    span {
        margin-left: 1rem;
        cursor: pointer;
    }
}
