@import "@GlobalScss";

.container {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
    
    div {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        div {
            position: absolute;
        }
        span {
            position: relative;
            z-index: 1;
        }
    }
}
