@import '@GlobalScss';

.controlGroup {
    display: flex;
    align-items: center;

    label {
        margin-right: 1rem;
        margin-bottom: 2px;
    }
    select {
        min-width: 20rem;
        background-color: $color-blue-light;
    }
}