@import '@GlobalScss';

// CONTAINER
// TOP    - CONTENT | CONTROLS
// BOTTOM - >>>DESCRIPTION<<<
.container {
    position: relative;
    z-index: 0;
    
    display: flex;
    flex-direction: column;

    width: 95%;
    height: 80rem;
    margin: 14rem auto;

    border-radius: $border-radius-slight;
    background-color: $color-brown;
    box-shadow: $shadow-normal;
}

// TOP BAR
.top {
    flex: 1;
    height: 40rem;
    display: flex;
    @include respond(tab-port) {
        height: inherit;
        flex-direction: column;
    }
}

.bottom {
    flex: 1;
}

// LEFT: ITEM
.content {
    flex: 2;
    @include respond(tab-port) {
        max-height: 35rem;
    }
}
// RIGHT: CONTROLS
.controls {
    flex: 1;
    background-color: $color-gray-light-1;
    overflow-x: hidden;
    overflow-y: auto;

    @include respond(tab-port) {
        padding-bottom: 2rem;
    }
}

// BOTTOM BAR
.bottom {
    background-color: $color-black;
    color: $color-white;
}