@import '@GlobalScss';

.sidebar {
    position: absolute;
    top: 40rem;
    right: 0;

    height: 8rem;
    width: 8rem;
    padding-bottom: 1.4rem;

    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    background-color: $color-brown;
    color: $color-gray;
    font-size: $font-size-xxl;
    box-shadow: $shadow-normal;
    
    border-top-left-radius: $border-radius-small;
    border-bottom-left-radius: $border-radius-small;

    animation: slide-horizontally 3s infinite linear;
}

@keyframes slide-horizontally {
    0% {
        filter: hue-rotate(0deg);
    }
    50% {
        filter: hue-rotate(40deg);
    }
    100% {
        filter: hue-rotate(0deg);
    }
}