@import '@GlobalScss';

.container {
    padding: 2rem;
    margin: 4rem auto;
    box-shadow: $shadow-small;
}

.heading {
    font-weight: 700;
    font-size: 3.6rem;
    font-family: $font-family-serif;

    text-align: center;
    letter-spacing: 2px;

    opacity: 1;
    color: $color-blue-light;

    &:hover {
        transform: scale(1);
    }
}

.sectionTitle {
    font-family: "Shippori Mincho", sans-serif;
}
